@using MPL.MVC;
@using MQUESTSYS.Helpers;
@using MQUESTSYS.Models.Master;
@using MQUESTSYS.Util;
@model RoleModel
@{
    var mode = (UIMode)ViewBag.Mode;

    var action = "";

    if (mode == UIMode.Create)
    {
        action = "CreateRole";
    }
    else
    {
        action = "UpdateRole";
    }

    var radioIsActiveChk = "";
    var radioIsNotActiveChk = "";

    if (Model.IsActive)
    {
        radioIsActiveChk = "checked=\"checked\"";
    }
    else
    {
        radioIsNotActiveChk = "checked=\"checked\"";
    }
}
@using (Html.BeginForm(action, "Role", FormMethod.Post, new { id = "EditForm" }))
{
    @Html.HiddenFor(p => p.ID)
    <table class="basic">
        <tr>
            <td style="width: 150px">
                Role Name <span class="warning">*</span>
            </td>
            <td class="separatorColumn">
                :
            </td>
            <td>
                @Html.TextBoxFor(p => p.Name)
                @Html.ValidationMessageFor(p => p.Name)
            </td>
        </tr>
        <tr>
            <td>
                Module List
            </td>
            <td>
                :
            </td>
            <td>
                <table class="basic">
                    @foreach (var obj in ModuleHelper.ModuleList())
                    {
                        var chkViewID = "chkView" + obj.Key;
                        var chkEditID = "chkEdit" + obj.Key;
                        var chkCreateID = "chkCreate" + obj.Key;
                        var chkApproveID = "chkApprove" + obj.Key;
                         
                        var viewPermission = from i in Model.Details
                                             where i.ModuleID == obj.Key && i.Action == SystemConstants.str_permission_View
                                             select i;

                        var editPermission = from i in Model.Details
                                             where i.ModuleID == obj.Key && i.Action == SystemConstants.str_permission_Edit
                                             select i;

                        var createPermission = from i in Model.Details
                                               where i.ModuleID == obj.Key && i.Action == SystemConstants.str_permission_Create
                                               select i;

                        var approvePermission = from i in Model.Details
                                                where i.ModuleID == obj.Key && i.Action == SystemConstants.str_permission_Approve
                                                select i;
                        
                        var chkViewChecked = "";
                        var chkEditChecked = "";
                        var chkCreateChecked = "";
                        var chkApproveChecked = "";
                        
                        if (viewPermission.FirstOrDefault() != null)
                        {
                            chkViewChecked = "checked=\"checked\"";
                        }

                        if (editPermission.FirstOrDefault() != null)
                        {
                            chkEditChecked = "checked=\"checked\"";
                        }

                        if (createPermission.FirstOrDefault() != null)
                        {
                            chkCreateChecked = "checked=\"checked\"";
                        }

                        if (approvePermission.FirstOrDefault() != null)
                        {
                            chkApproveChecked = "checked=\"checked\"";
                        }
                        
                        <tr>
                            <td style="width: 250px">
                                @obj.Value
                            </td>
                            <td style="width: 150px">
                                @if (obj.Key != "CompanySetting" && obj.Key != "PrefixSetting")
                                {
                                    <input type="checkbox" id="@chkViewID" name="@chkViewID" value="true" @chkViewChecked />@Html.Raw("View")
                                }
                            </td>
                            <td style="width: 150px">
                                @if (obj.Key != "CompanySetting" && obj.Key != "PrefixSetting")
                                {
                                    <input type="checkbox" id="@chkCreateID" name="@chkCreateID" value="true" @chkCreateChecked />@Html.Raw("Create")
                                }
                            </td>
                            <td style="width: 150px">
                                @if (obj.Key != "CompanySetting" && obj.Key != "PrefixSetting")
                                {
                                    <input type="checkbox" id="@chkEditID" name="@chkEditID" value="true" @chkEditChecked />@Html.Raw("Edit")
                                }
                            </td>
                        </tr>
                    }
                </table>
            </td>
        </tr>
        <tr>
            <td style="width: 150px">
                Status
            </td>
            <td class="separatorColumn">
                :
            </td>
            <td>
                <input type="radio" id="IsActive_0" name="IsActive" value="true" @radioIsActiveChk />Active
                <input type="radio" id="IsActive_1" name="IsActive" value="false" @radioIsNotActiveChk />Not
                Active
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <table class="basic">
                    <tr>
                        <td>
                            <a href="#" onclick="$('#EditForm').submit();" class="button">Save</a> <a href="@Url.Content("~/Role/Index")" class="button">
                                Cancel</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
}
